@import "tailwindcss";

@theme {
    --breakpoint-3xl: 1920px;

    /*color-palette*/
    --evergreen: #002626;
    --ocean: #24bdad;
    --cyan: #a4fbf7;
    --frozen: #d5fff2;
    --shadow: #2a2827;

}


:root {
    font-family: "Figtree", "Geist Pixel", sans-serif;
    color-scheme: light dark;
    

}

body {
    overflow-x: hidden;
}

h2 {
    font-family: "Geist Pixel", 'Courier New', Courier, monospace;
}

.gradient {
  background: radial-gradient(circle, #00d2d3 0%, #a8d4ff 100%);
}